@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    color: #F8EFBA;
    font-family: 'Press Start 2P', cursive;
    text-shadow: 3px 3px #B33771;
    background-color: #6D214F;
}

.container {
    padding: 1rem;
}

.button {
    padding: 12px 32px;
    background-color: #6D214F;
    color: #F8EFBA;
    text-shadow: 3px 3px #B33771;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border: 3px solid #F8EFBA;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #B33771;
    text-shadow: 3px 3px #6D214F;
}

.subtitle {
    font-size: 16px;
    opacity: 0.9;
    line-height: 1.3;
}

.has-text-centered {
    text-align: center;
}

.margin-top-big {
    margin-top: 2rem;
}

.margin-top-small {
    margin-top: 1rem;
}

#game {
    border: 4px solid #A3CB38;
    border-collapse: collapse;
    margin: 0 auto;
}

#game .field {
    text-align: center;
    vertical-align: middle;
    /* background-color: #B33771; */
    width: 32px;
    height: 32px;
    padding: 0;
}

.hedge {
    background: url("assets/img/hedge.png") no-repeat;
}

.terrain {
    background-color: #663931;
}
